.form {
    border: 1px dashed red;
    padding: 1rem;
    margin: 1rem 0;
}

.form__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: .25rem 0;
}

.row__role {

}

.row__assignee {

}
